/*\
)A( Wrapper
\*/
.clean {
    border: none;
}

.center {
    text-align: center;
}

.wrapper {
    font-family: "Merriweather Sans";
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    @media all and (max-width: 1000px) {
        max-width: 80vw;
    }
}

/*\
)A( Basic Styling
\*/

body {
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern"1;
    -moz-font-feature-settings: "kern"1;
    -o-font-feature-settings: "kern"1;
    font-feature-settings: "kern"1;
    font-kerning: normal;
}

/*\
)A( Heading
\*/

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
}

table {
    text-align: center;
}

/*\
)A( Link
\*/

a {
    text-decoration: none;
    border-bottom: 1px dashed;
}

/*\
)A( List
\*/

ul,
ol {
    margin-left: 0;
    line-height: 1.5em;
}

li {
    >ul,
    >ol {
        padding-left: 1.25em;
        margin-bottom: 0;
    }
}

/*\
)A( Image
\*/

img {
    max-width: 100%;
    vertical-align: middle;

}

/*\
)A( Figure
\*/

figure>img {
    display: block;
}

figcaption {
    font-size: 14px;
    @media all and (max-width: 500px) {
        font-size: 2.8vw;
    }
}

/*\
)A( Icon
\*/

.icon {
    >svg {
        display: inline-block;
        width: 16px;
        height: 16px;
        vertical-align: middle;
    }
}

/*\
)A( Code
\*/

pre,
code {
    font-family: "Roboto Mono";
    font-size: 12px;
    @media all and (max-width: 500px) {
        font-size: 2.4vw;
    }
    border: 1.2px solid;
    border-radius: 8px;
}

code {
    padding: 1px 5px;
}

pre {
    padding: 8px 12px;
    overflow-x: auto;
    >code {
        border: 0;
        padding-right: 0;
        padding-left: 0;
    }
}

/*\
)A( Blockquote
\*/

blockquote {
    font-size: 14px;
    @media all and (max-width: 500px) {
        font-size: 2.8vw;
    }
    font-style: italic;
    border-left: 1.5px solid;
    padding-left: 10px;
    > :last-child {
        margin-bottom: 0;
    }
}