/*\
)A( Site Header
\*/

.site-profile {
    width: 110px;
    height: 140px;
    @media all and (max-width: 500px) {
        width: 22vw;
        height: 28vw;
    }
}

.site-title {
    font-family: 'Henny Penny';
    font-size: 56px;
    @media all and (max-width: 500px) {
        font-size: 11.2vw;
    }
    font-weight: 400;
    display: inline-block;

}

.site-description {
    padding-top: 0em;
    padding-bottom: 3em;
    font-family: 'Gloria Hallelujah';
    font-size: 14px;
    @media all and (max-width: 500px) {
        font-size: 2.8vw;
        letter-spacing: 0.4vw;
    }
    letter-spacing: 2px;
}

.site-navigation {
    &:not(:last-child) {
        margin-right: 2.5em;
    }
    font-family: 'Merriweather';
    font-size: 13px;
    @media all and (max-width: 500px) {
        font-size: 2.6vw;
    }
    font-weight: 400;
    // text-transform: uppercase;

}

/*\
)A( Page Layout
\*/

.home {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
}

.page {
    padding-top: 0em;
    padding-bottom: 1em;
}

.archive {
    padding-top: 0em;
    padding-bottom: 2em;
}

.post {
    padding-top: 4em;
    padding-bottom: 0em;
    @media all and (max-width: 500px) {
        padding-top: 12vw;
    }
}

.page-description {
    padding-top: 2em;
    padding-bottom: 2em;
    line-height: 3em;
    font-family: "Gloria Hallelujah";
    font-size: 14px;
    @media all and (max-width: 500px) {
        font-size: 2.8vw;
    }
    text-transform: lowercase;
}

/*\
)A( Post
\*/

.post-title {
    font-family: "Merriweather";
    font-size: 22px;
    @media all and (max-width: 500px) {
        font-size: 4.4vw;
    }
    font-weight: 600;
    letter-spacing: 1px;
}

.post-year {
    padding-bottom: 2em;
    font-family: "Merriweather";
    font-size: 20px;
    @media all and (max-width: 500px) {
        font-size: 4vw;
    }
    font-weight: 400;
}

.post-subline {
    padding-top: 2em;
    font-size: 12px;
    @media all and (max-width: 500px) {
        font-size: 2.4vw;
    }
    font-weight: 400;
    letter-spacing: 1px;
}

.post-excerpt {
    padding-top: 0em;
    padding-bottom: 1em;
    font-size: 14px;
    @media all and (max-width: 500px) {
        font-size: 2.8vw;
    }
    font-weight: 400;
}

.post-content {
    padding-top: 2em;
    padding-bottom: 3em;
    font-size: 14px;
    @media all and (max-width: 500px) {
        font-size: 2.8vw;
    }
    font-weight: 400;
}

.post-content-full {
    padding-top: 2em;
    padding-bottom: 5em;
    font-size: 14px;
    @media all and (max-width: 500px) {
        font-size: 2.8vw;
    }
    text-align: justify;
}

.post-content-link {
    border-bottom: 1px dashed;
}
/*\
)A( Pagination
\*/

.post-navigation {
    padding-bottom: 3em;
    align-items: center;
    justify-content: space-between;
    display: flex;
    a:only-child {
        width: 100%;
    }
}

.post-prev,
.post-next {
    width: 49%;
    font-family: "Merriweather";
    font-size: 14px;
    @media all and (max-width: 500px) {
        font-size: 2.8vw;
    }
    font-weight: 600;
    display: inline-block;
}

.post-prev {
    text-align: right;
}

/*\
)A( Site Footer
\*/

.site-footer {
    padding-top: 1em;
    padding-bottom: 1em;
    @media all and (max-width: 500px) {
        font-size: 3.2vw;
    }
}